/* Скидання стилів браузера */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type:none;
}

button{
    cursor: pointer;
}

img{
    display: block;
}

a{
    text-decoration: none;
}

/* Основний контент сторінки */
body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-weight: 400;
    font-style: normal;
} 

.container{
    width: 1158px;    
    padding: 0 15px;  
    margin: 0 auto;
}

.section{
    padding-top: 120px;
    padding-bottom: 120px;
}

/* Стилі для header сторінки*/
.top-line{
    border-bottom: 1px solid #e7e9fc;
    box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container-header{
    display: flex;
    align-items: baseline;
    justify-content:space-between;
    padding: 0 15px;
}

.top-line-nav{
    display: flex;
    align-items: center;
}

.menu-logo{
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    color: #4D5AE5;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 76px;
}

.menu-logo span{
    color: #2E2F42;
}

.main-meny{
    display: flex;
    gap: 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-align: left;
}

.main-meny-link{
    display: block;
    position: relative;
    text-decoration: none;
    color: #404bbf;
    padding: 24px 0;
    border-bottom: 4px solid #fff;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.main-meny-link::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;  
}

.main-meny-link:hover,
.main-meny-link:focus{
    color: #404BBF;
    border-bottom: 4px solid #404BBF;
    border-radius: 2px;
}

.shadow{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contacts-meny-ul{
    display: flex;
    gap: 40px;    
}

.address-link{
    text-decoration: none;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus{
    color: #404BBF;
}

/* Стилі для головного контенту розділу hero image*/
.hero-image-bg{
    background-color: #2E2F42;
}

.hero-image{
    
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/heroimage.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    padding: 188px 0;
}

.hero-image-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    max-width: 496px;
    margin: 0 auto;
}

.hero-button{
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor:pointer;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin-top: 48px;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus{
    background-color: #404BBF;
}

/* Стилі для головного контенту розділу benefits*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.benefits{
    display: flex;
    gap: 24px;
}

.benefits-li{
    width: calc((100% - 72px) / 4);
}


.benefits-title{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2E2F42;
    margin-bottom: 8px;
}

.benefits-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
}

/* Стилі для головного контенту розділу our-team*/
.our-team{
    background-color: #F4F4FD;
}

.our-team-title{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.our-team-ul{
    display: flex;
    gap: 24px;
}

.our-team-teacher{
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.our-teacher-img{
    width: 100%;
}

.our-team-teacher-title{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 8px;
}

.our-team-teacher-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.teacher-pib-posada{
    padding: 32px 0;
}

/* Стилы роздылу portfolio*/
.box{
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    transform: translatey(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box:hover .overlay {
    transform: translatey(0);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.overlay-text{
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
}  

.portfolio{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 72px;
}

.portfolio-ul{
    display: flex;
    flex-wrap:wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-li{
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-li:hover{
    box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}

.portfolio-li img{
    width: 100%;
}

.portfolio-app{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-title{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2E2F42;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.portfolio-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
}

/* ========================= Стилі розділу footer ================================*/
.footer-text-logo {
    padding-top: 100px;
    background-color: #2E2F42;
    height: 312px;
}

.footer-padding {
    display: flex;
    gap: 120px;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    color: #4D5AE5;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-footer-span {
    color: #F4F4FD;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #F4F4FD;
    max-width: 264px;
}

.social-media{
}

.title-social-media {
    font-weight: 500;
    font-size: 16px;
    color: #FFF;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.social-media-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.li-social-media {
    border: 1px solid red;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
}

.social-media-icon-ist{

}

.social-media-linksoc{
    display: block;
    width: 100%;
    height: 100%;   
}

.social-media-svg {
    display: block;
    fill: #f4f4fd;
}

.social-media-svg:hover {
    fill: #31d0aa;
}
















.social-media-linksoc:hover,
.social-media-linksoc:focus{
    background-color: #31d0aa;
}




/* ========================= Кінець розділу footer ================================*/





.soc-mereji {
    display: flex;
    justify-content: center;
    gap: 24px;

}

.li-soc-mereji {

    width: 40px;
    height: 40px;
}

.linksoc {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.linksoc:hover,
.linksoc:focus {
    background-color: #404bbf;
}

.icon-svg {
    display: block;
    fill: #F4F4FD;
}

.icon-svg:hover {
    fill: #404BBF;
}

.box-svg {
    display: flex;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    background-color: #f4f4fd;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    align-items: center;
    justify-content: center;
}

.icon-antenna {
    display: block;
    margin: 24px 100px;
}

.icon-clock {
    display: block;
    margin: 24px 100px;
}

.icon-diagram {
    display: block;
    margin: 24px 100px;
}

.icon-astronaut {
    display: block;
    margin: 24px 100px;
}