/* Скидання стилів браузера */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type:none;
}

button{
    cursor: pointer;
}

img{
    display: block;
}

a{
    text-decoration: none;
}

/* Основний контент сторінки */
body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-weight: 400;
    font-style: normal;
} 

.container{
    width: 1158px;    
    padding: 0 15px;  
    margin: 0 auto;
}

.section{
    padding-top: 120px;
    padding-bottom: 120px;
}

/* Стилі для header сторінки*/
.top-line{
    border-bottom: 1px solid #e7e9fc;
}

.container-header{
    display: flex;
    align-items: baseline;
    justify-content:space-between;
    padding: 0 15px;
}

.top-line-nav{
    display: flex;
    align-items: center;
}

.menu-logo{
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    color: #4D5AE5;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 76px;
}

.menu-logo span{
    color: #2E2F42;
}

.main-meny{
    display: flex;
    gap: 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-align: left;
}

.main-meny-link{
    display: block;
    text-decoration: none;
    color: #2E2F42;
    padding: 24px 0;
    border-bottom: 4px solid #fff; 
}

.main-meny-link:hover,
.main-meny-link:focus{
    color: #404BBF;
    border-bottom: 4px solid #404BBF;
    border-radius: 2px;
}

.shadow{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contacts-meny-ul{
    display: flex;
    gap: 40px;    
}

.address-link{
    text-decoration: none;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
}

.address-link:hover,
.address-link:focus{
    color: #404BBF;
}

/* Стилі для головного контенту розділу hero image*/
.hero-image{
    padding: 188px 0;
    background-color: #2E2F42;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),url(/images/heroimage.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.hero-image-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    max-width: 496px;
    margin: 0 auto;
}

.hero-button{
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor:pointer;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin-top: 48px;
}

.hero-button:hover,
.hero-button:focus{
    background-color: #404BBF;
}

/* Стилі для головного контенту розділу benefits*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.benefits{
    display: flex;
    gap: 24px;
}

.benefits-li{
    width: calc((100% - 72px) / 4);
}


.benefits-title{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2E2F42;
    margin-bottom: 8px;
}

.benefits-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
}

/* Стилі для головного контенту розділу our-team*/
.our-team{
    background-color: #F4F4FD;
}

.our-team-title{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.our-team-ul{
    display: flex;
    gap: 24px;
}

.our-team-teacher{
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.our-teacher-img{
    width: 100%;
}

.our-team-teacher-title{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 8px;
}

.our-team-teacher-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.teacher-pib-posada{
    padding: 32px 0;
}

/* Стилы роздылу portfolio*/
.box{
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3f51b5;
    transform: translatey(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box:hover .overlay {
    transform: translatey(0);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.overlay p {
    color: #F4F4FD;
    padding-top: 32px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
}  

.portfolio{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 72px;
}

.portfolio-ul{
    display: flex;
    flex-wrap:wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-li{
    width: calc((100% - 48px) / 3);
}

.portfolio-li img{
    width: 100%;
}

.portfolio-app{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-title{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2E2F42;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.portfolio-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
}

/* Стилы роздылу footer*/
footer{
    background-color: #2E2F42;
    height: 312px;
}

.footer-text-logo{
    position: relative;
    padding: 100px 0;
}

.logo-footer{
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    color: #4D5AE5;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-footer-span{
    color: #F4F4FD;
}

.footer-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #F4F4FD;
    max-width: 264px;
}

.soc-mereji{
    display: flex;
    justify-content: center;
    gap: 24px;

}

.li-soc-mereji{
    background-color: #4D5AE5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.icon-ist{
    display: block;
    width: calc((100% - 3*24px) / 4);
    fill: #F4F4FD;
    width: 16px;
    height: 16px;
    margin: 12px;
}

.icon-ist:hover{
    fill: #404BBF;
}

.icon-fb{
    display: block;
    width: calc((100% - 3*24px) / 4);
    fill: #F4F4FD;
    width: 16px;
    height: 16px;
    margin: 12px;
}

.icon-fb:hover{
    fill: #404BBF;
}

.icon-link{
    display: block;
    width: calc((100% - 3*24px) / 4);
    fill: #F4F4FD;
    width: 16px;
    height: 16px;
    margin: 12px;
}

.icon-link:hover{
    fill: #404BBF;
}

.icon-twit{
    display: block;
    width: calc((100% - 3*24px) / 4);
    fill: #F4F4FD;
    width: 16px;
    height: 16px;
    margin: 12px;
}

.icon-twit:hover{
    fill: #404BBF;
}

.box-svg{
    border: 1px solid #8E8F99;
    border-radius: 4px;
    background-color: #F4F4FD;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
}

.icon-antenna{
    display: block;
    width: 64px;
    height: 64px;
    margin: 24px 100px;
}

.icon-clock{
    display: block;
    width: 64px;
    height: 64px;
    margin: 24px 100px;
}

.icon-diagram{
    display: block;
    width: 64px;
    height: 64px;
    margin: 24px 100px;
}

.icon-astronaut{
    display: block;
    width: 64px;
    height: 64px;
    margin: 24px 100px;
}

.social-media{
    position: absolute;
    width: 208px;
    right: 692px;
    top: 132px;
}

.title-social-media{
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.social-media-footer{
    display: flex;
    justify-content: center;
    gap: 16px;
}

.li-social-media{
    background-color: #4D5AE5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.social-media-icon-ist{
    display: block;
    width: calc((100% - 3*24px) / 4);
    fill: #F4F4FD;
    width: 16px;
    height: 16px;
    margin: 12px;
}

.social-media-icon-twit{
    display: block;
    width: calc((100% - 3*24px) / 4);
    fill: #F4F4FD;
    width: 16px;
    height: 16px;
    margin: 12px;
}

.social-media-icon-fb{
    display: block;
    width: calc((100% - 3*24px) / 4);
    fill: #F4F4FD;
    width: 16px;
    height: 16px;
    margin: 12px;
}

.social-media-icon-link{
    display: block;
    width: calc((100% - 3*24px) / 4);
    fill: #F4F4FD;
    width: 16px;
    height: 16px;
    margin: 12px;
}